fin-db/db/data
.mypy_cache
.pytest_cache
.vscode
node_modules
__pycache__
__init__.py
server.yaml
server-webdriver.yaml
Dockerfile
.python-version
fin-db/mongodb-express.yaml
fin-db/mongodb-oper.yaml
fin-crawling-server/server/downloads
.env
